<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Misc Learning/index.css">
        <link rel="stylesheet" href="/navbar.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/resources/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/resources/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/resources/icons/favicon-16x16.png">
        <link rel="manifest" href="/resources/icons/">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script> 
            $(function(){
              $("#NavBar").load("/navbar.html"); 
            });
        </script>

        <title>HIIIIII</title>

    </head>
    <body>

        <div id="NavBar"></div>

        <div class="Content">
            <div id="table" class="ContentItem">

            </div>
        </div>


    </body>
</html>