<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Misc Learning/index.css">
        <link rel="stylesheet" href="/navbar.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/resources/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/resources/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/resources/icons/favicon-16x16.png">
        <link rel="manifest" href="/resources/icons/">

        <title>HIIIIII</title>

    </head>
    <body>
        <!--Navigation Bar Begin-->
        <div class="NavBar">
            <a class="NavBarItem" href="/index.html"><span>Home</span></a>
            <div class="ProjectsDropdown">
                <button class="ProjectsDropdownBtn">Projects</button>
                <div class="ProjectsDropdownContent">
                    <!--Add all the Projects stuff here-->
                </div>
            </div>
        </div>
        <!--Navigation Bar End-->

        <div class="Content">
            <div id="table" class="ContentItem">

            </div>
        </div>


    </body>
</html>