body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #23232f;
    color: #dddddd;
    /*Debug*/
    /* outline: dashed 2px greenyellow; */
}

.Content {
    padding-top: 24px;
    margin: auto;
    /*Debug*/
    /* outline: dashed 2px greenyellow;  */
    width: 60%;
}

.ContentItem {
    width: fit-content;
    margin: auto;
    /* outline: dashed 2px greenyellow;  */
}

.ContentItem p {
    text-align: justify;
}

.ExternLink {
    color: #dddd2f;
}

.ExternLink:hover {
    color: #a0a023;
}